/* Imported Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Sedgwick+Ave+Display&display=swap');

/* Remove default styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General body styling */
body {
    font-family: 'Montserrat', sans-serif;
    color: #000;
}
