/* Imported Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Sedgwick+Ave+Display&display=swap');

/* Remove default styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General body styling */
body {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    min-height: 100vh;
    overflow: hidden;
    background: radial-gradient(rgb(218, 218, 218), rgb(0, 0, 0)) no-repeat;
}

/* Full page styling */
#full-page {
    width: 100%;
    height: 100%;
}

/* Heading styling */
header {
    width: 100%;
    height: 15%;
}



/* Heading styling */
h1 {
    font-family: 'Sedgwick Ave Display', cursive;
    text-align: center;
    color: aquamarine;
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

hr {
    border: none;
    border-top: 3px solid aquamarine;
    color: aquamarine;
    text-align: center;
    height: 5px;
    position: relative;
    left: 8%;
    width: 84%;
    margin-bottom: 35px;
}

/* Intro page styling */
#intro-page {
    height: 600px;
    display: block;
    opacity: 1;
    transition: 0.3s ease-in-out;
    
}

#intro-page.fade {
    display: none;
}

#intro-one-liner {
    background-color: black;
    height: 30px;
    width: 80%;
    min-width: 260px;
    margin: 0 auto;
    border: solid aquamarine 2px;
}

#intro-one-liner p {
    padding-top: 3.5px;
    text-align: center;
    color: white;
    padding-left: 8px;
    padding-right: 8px;   
}

#images-of-opponents-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
}

.images-of-opponents{
    position: relative;
    background: url(../images/circle-with-arrows1.png) no-repeat center;
    background-size: 85%;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.images-of-opponents>img {
    position: absolute;
    background-color: white;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: solid 5px black;
}

.the-rock {
    top: 0.1em;
}

.paper-airplane {
    bottom: 2.9em;
    right: 0.5em;
}

.edward-scissorhands {
    bottom: 2.9em;
    left: 0.5em;
}

/* Launch game button styling */
#launch-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
}

#launch-game-btn {
    color: aquamarine;
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
    background-color: rgb(218, 218, 218);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 120%;
    width: 180px;
    height: 40px;
    border-radius: 3px;
    transition: 100ms;
}

#launch-game-btn:hover {
    transform: scale(1.1);
}

/* Footer styling */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
}

i {
    color: rgb(218, 218, 218);
    font-size: 150%;
}

/* Game area styling */
#game-area {
    height: 600px;
    display: none;
}

#scores {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

#scores h2{
    font-size: 130%;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    border: solid 2px black;
}

#player-score, #computer-score{
    color: aquamarine;
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
    margin-left: 5px;
}

#choices-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
}

button img { 
    background-color: white;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: solid 5px black;
}

.choice {
    position: absolute;
    border: none;
    cursor: pointer;
    background-color: inherit;
    transition: transform 0.7s ease-in-out;
}

.choice:hover {
    transform: rotate(360deg);
}

.choice-reminder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 90%;
    border: solid aquamarine 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
}

.choice-reminder p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding-left: 8px;
    padding-right: 8px; 
}

.first-to-5 {
    font-family: 'Sedgwick Ave Display', cursive;
    text-align: center;
    color: aquamarine;
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
    margin-top: 40px;
}

/* Battle container styling */
#battle-container{    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 65px;
    width: 100vw;
    display: none;
}

.player-choice, .computer-choice {
    width: 40%;
    background-color: #000;
    height: 390px;
    color: white;
    font-family: 'Sedgwick Ave Display', cursive;
    text-align: center;
    display: flex;
    align-items: center;
}

.vs {
    width: 15%;
    height: 390px;
    color: aquamarine;
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
    font-size: 300%;
    font-family: 'Sedgwick Ave Display', cursive;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result-message {
    background-color: none;
    height: 40px;
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.result-message h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
    color: black;
    text-shadow: 2px 0 aquamarine, -2px 0 aquamarine, 0 2px aquamarine, 0 -2px aquamarine, 1px 1px aquamarine, -1px -1px aquamarine, 1px -1px aquamarine, -1px 1px aquamarine;
    font-size: 160%;
}

.result-message button {
    color: aquamarine;
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
    background-color: rgb(218, 218, 218);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 140%;
    width: 180px;
    height: 40px;
    border-radius: 3px;
    transition: 100ms;
    padding: 5px;
}

.result-message button:hover {
    transform: scale(1.1);
}

.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

.winner-modal-content, .loser-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}