/* Imported Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Sedgwick+Ave+Display&display=swap');

/* Remove default styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General body styling */
body {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    min-height: 100%;
    background: radial-gradient(rgb(218, 218, 218), rgb(0, 0, 0)) no-repeat;
}

/* Full page styling */
#full-page {
    width: 100%;
    height: 100%;
}

/* Heading styling */
header {
    width: 100%;
    height: 15%;
}



/* Heading styling */
h1 {
    font-family: 'Sedgwick Ave Display', cursive;
    text-align: center;
    color: aquamarine;
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
    margin-top: 15px;
    margin-bottom: 10px;
    padding-left: 10%;
    padding-right: 10%;
}

hr {
    border: none;
    border-top: 3px solid aquamarine;
    color: aquamarine;
    text-align: center;
    height: 5px;
    position: relative;
    left: 8%;
    width: 84%;
}

.intro-page {
    height: 1200px;
}